h1 {
  position: relative;
  padding: 0;
  margin-top: 80px;
  font-family: "Georgia", sans-serif;
  font-weight: 500;
  font-size: 100px;
  color: #da8d29;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 4px;
  line-height: 1em;
  
}

h1:after {
  width: 500px;
  height: 1px;
  display: block;
  content: "";
  position: center;
  margin-top: 0px;
  left: 50%;
  margin-left:40px;
}

h2{
text-align: center;
 font-family: "Georgia", sans-serif;
  text-transform: capitalize;
  letter-spacing: 4px;
  margin-bottom: 50px;
}

body {
  background: #1a1a1a;
  color: #d9d4c7;
  font-family: 'Georgia', serif;
}
li {
  margin: 0.5rem 0;
  padding-left: 1rem;
  list-style-type: square;
}

.links li a {
  color: #e0c097; 
   font-family: "Georgia", sans-serif; 
     font-size: 1.1rem;
  padding: 0.3rem 0.8rem;
  transition: color 0.3s, border-bottom 0.3s;
  text-decoration: none;
}

.links li a:hover {
  color: #fffbe6;           /* parchment glow */
  border-bottom: 2px solid #8b6f47; /* bronze underline */
}

h3 a {
    color: #e0c097;
}

h4 a {
  text-align: center;
    color: #e8e2da;
}
/*links to projects CSS */
.container1 a {
  text-decoration: none;
  color: #e0c097;           /* warm gold tone */
  font-family: "Georgia", serif;
  font-size: 1.1rem;
  padding: 0.3rem 0.8rem;
  transition: color 0.3s, border-bottom 0.3s;
}
.container1 a:hover {
  color: #fffbe6;           /* parchment glow */
  border-bottom: 2px solid #8b6f47; /* bronze underline */
}





/* Coding images and tooltips*/

 .tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

  .tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 180px;
  background-color: rgb(41, 24, 117, 00.7rem);
  color: #e8e2da;
  text-decoration: none;
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
  border-radius: 6px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}