
.links  {
display: inline-flex;
flex-direction: row;
justify-content:right;
align-content: end;
list-style-type:none
}

h2 {
  position: relative;
  padding: 0;
  margin-top: 80px;
  font-family: "Georgia", sans-serif;
  font-weight: 500;
  font-size: 80px;
  background : -webkit-linear-gradient(#37353E, #ece8e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: center;
  text-transform:initial;
  letter-spacing: 4px;
  line-height: 1em;

}

h2:after {
  width: 500px;
  height: 1px;
  display: block;
  content: "";
  position: center;
  margin-top: 0px;
  left: 50%;
  margin-left:40px;

}

#mypic {
  margin-top: 100px;
  border-radius: 10%;
  align-items: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 10%;
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
    border-image: url("/assets/images/photo2.png") 27 25 / 5px 3px / 1rem round space;

}
h3{
text-align: center;
 font-family: "Georgia", sans-serif;
  text-transform: capitalize;
  letter-spacing: 4px;
  margin-bottom: 50px;

}

body {
  background: linear-gradient(180deg,  #37353E 38%, #44444E 60%, #715A5A 90% );
  color: #e0dcd4;
  font-family: 'Georgia', serif;
}




.links li a {
  color: #e3e0d5; 
   font-family: "Georgia", sans-serif; 
     font-size: 10px;
  padding: 0.3rem 0.8rem;
  transition: color 0.3s, border-bottom 0.3s;
  text-decoration: none;
}

.links li a:hover {
  color: #fffbe6;           /* parchment glow */
  border-bottom: 2px solid #d8d2c9; /* bronze underline */
}

h3 a {
    color: #e0c097;
}

h4 a {
  text-align: center;
    color: #e8e2da;
}

/*links to projects CSS */
.container1 a {
  text-decoration: none;
  color: #e0c097;         
  font-family: "Georgia", serif;
  font-size: 1.1rem;
  padding: 0.3rem 0.8rem;
  transition: color 0.3s, border-bottom 0.3s;
}


hr {
 border-color:rgb(231, 238, 238); 
 border-style:solid;
  box-shadow: 0px 0px 10px 1px rgb(230, 235, 235);
}



/* Coding images and tooltips*/

 .tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

  .tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 180px;
  background-color: rgb(41, 24, 117, 00.7rem);
  color: #e8e2da;
  text-decoration: none;
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
  border-radius: 6px;
  transform: translateX(-30%);
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
}

.tooltip:hover .tooltiptext  {
  visibility: visible;
}

.tooltiptext a {
  color: white;
font-size: 10px;
}

